// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import "variables";

html, body {
  background-color: $body-bg-color-fallback;
  background: $body-bg;
  color: #bbb;
  font-family: sans-serif;
  margin: 0;
}

.navbar-laravel {
  background-color: white;
}
